# Python
backend/venv/
backend/_pycache_/
backend/**/_pycache_/
backend/*.pyc
backend/*.db
backend/uploads/

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Environment
.env
*.env
.env.txt